<div class="table_left">
   <div class="left_margin_menu_item">
      {{#ifEqual section 'about'}}
         <span class="selected">ABOUT US</span>
      {{else}}
         <a href="/about">ABOUT US</a>
      {{/ifEqual}}
   </div>
   <div class="left_margin_menu_item">
      {{#ifEqual section 'about:water-quality-measures'}}
         <span class="selected">WATER QUALITY MEASURES</span>
      {{else}}
         <a href="/about/water-quality-measures">WATER QUALITY MEASURES</a>
      {{/ifEqual}}
   </div>
   <div class="left_margin_menu_item">
      {{#ifEqual section 'about:partners'}}
         <span class="selected">PARTNERS</span>
      {{else}}
         <a href="/about/partners">PARTNERS</a>
      {{/ifEqual}}
   </div>
</div>
