<div id="footer">
   <div id="sections">
      <a href="/">Home</a>
      <a href="/data">Public Data</a>
      <a href="http://store.cattfish.com/" target="store.cattfish.com">Shop</a>
      <a href="/about">About</a>
      <a href="/contact">Contact</a>
      <a href="#">Terms &amp; Conditions</a>
   </div>
   <p><strong>MellonHead Labs</strong><br/>
      3117 Washington Pike, STE 600<br/>
      Pittsburgh, PA 15017<br/>
      412-942-9001<br/>
      <a href="mailto:info@cattfish.com">info@CATTfish.com</a>
   </p>
</div>
