<script language="JavaScript" type="text/javascript">

   $(document).ready(function() {
      var selectedSectionNavElementId = "nav_" + "{{section}}";

      // highlight the selected section
      $("#" + selectedSectionNavElementId).addClass("navigation_item_selected");

      $("#login_link").click(function() {
         if (selectedSectionNavElementId != 'nav_login') {
            var loginPopup = $("#login_popup");

            // toggle visibility
            loginPopup.toggle();

            // if visible, set focus to the email field
            if (loginPopup.is(":visible")) {
               loginPopup.find("#email").focus();
            }
         }

         return false;
      });

      // add event handlers to the nav items
      $(".navigation_item")
            .mouseover(function() {
                          $(this).addClass("navigation_item_selected");
                       })
            .mouseout(function() {
                         // only remove the class if we're not mousing out of the Log In button and the login popup
                         // is visible AND this isn't the button for the currently selected secion
                         if (!(this.id == "nav_login" && $("#login_popup").is(":visible")) && selectedSectionNavElementId != this.id) {
                            $(this).removeClass("navigation_item_selected");
                         }
                      });
   });
</script>
<div id="header">
   <div class="header_container">
      <div id="navigation" class="noselect">
         {{#if isAuthenticated}}
            <a href="/logout">
               <div id="nav_logout" class="navigation_item">Log Out</div>
            </a>
            <a href="/account">
               <div id="nav_account" class="navigation_item">Account</div>
            </a>
            <a href="/devices">
               <div id="nav_devices" class="navigation_item">Devices</div>
            </a>
            <a href="/dashboard">
               <div id="nav_dashboard" class="navigation_item">Dashboard</div>
            </a>
         {{else}}
            <a href="" id="login_link">
               <div id="nav_login" class="navigation_item">Log In</div>
            </a>
            <a href="/signup">
               <div id="nav_signup" class="navigation_item">Sign Up</div>
            </a>
            <a href="/contact">
               <div id="nav_contact" class="navigation_item">Contact</div>
            </a>
            <a href="/about">
               <div id="nav_about" class="navigation_item">About</div>
            </a>
            <a href="#" onclick="alert('Not yet implemented');return false;">
               <div id="nav_shop" class="navigation_item">Shop</div>
            </a>
            <a href="/data">
               <div id="nav_data" class="navigation_item">Public Data</div>
            </a>
            <a href="/">
               <div id="nav_home" class="navigation_item">Home</div>
            </a>
            {{> login_popup}}
         {{/if}}
      </div>
      <div id="logo_container">
         {{!--<a href="#"><img class="logo" src="images/logo.png" alt="CATTfish and Flamingo Water sensor"/></a>--}}
      </div>
   </div>
</div>