<script language="JavaScript" type="text/javascript">
   var loginMessages = null;

   $(document).ready(function() {
      loginMessages = $("#login_messages");
   });

   function displayMessages(errors) {
      if (errors.length > 0) {
         loginMessages.empty();
         errors.forEach(function(error) {
            loginMessages.append('<div>' + error + '</div>');
         });
         loginMessages.show();
      }
   }

   function submitLogin() {
      var user = {
         username : $("#username").val().trim(),
         password : $("#password").val()
      };
      console.log(user);

      // perform simple validation
      var messages = [];
      if (user.username.length <= 0) {
         messages.push("Username is required.");
      }
      if (user.password.length <= 0) {
         messages.push("Password is required.");
      }

      if (messages.length > 0) {
         displayMessages(messages);
      }
      else {
         var loginFormInputElements = $("#login_form").find("input");
         loginFormInputElements.prop('disabled', true);
         $.ajax({
                   type : "POST",
                   url : "/login",
                   dataType : "json",
                   data : user,
                   success : function(data, status) {
                      console.log("LOGIN SUCCESS!: " + JSON.stringify(data, null, 3));
                      window.location.href = "/";
                   },
                   error : function(jqXHR, textStatus, errorThrown) {
                      if (jqXHR.status == 401) {
                         messages.push("Invalid username and/or password.");
                      }
                      else {
                         messages.push("Login failed.");
                      }
                      displayMessages(messages);
                   },
                   complete : function() {
                      loginFormInputElements.prop('disabled', false);
                   }
                });
      }
   }

</script>
<div id="login_popup">
   <form id="login_form" onsubmit="submitLogin(); return false;">
      <div id="login_messages" class="form_messages"></div>
      <div><label for="username">Username</label></div>
      <div><input type="text" id="username" name="username"/></div>
      <div><label for="password">Password</label></div>
      <div><input type="password" id="password" name="password"/></div>
      <div class="login_form_links" style="text-align: right">

         <input type="submit" value="Log In &raquo;">
      </div>
      <div class="login_form_links" style="font-size: smaller;">
         <div style="float:right"><a href="/register">Sign up</a></div>
         <div><a href="javascript:alert('Not yet implemented.')">Forgot password?</a></div>
      </div>
   </form>
</div>
