<script language="JavaScript" type="text/javascript">

   function submitLogin(email, password, messagesElementId) {
      var messages = [];
      var loginMessages = $("#" + messagesElementId);

      var displayMessages = function() {
         if (messages.length > 0) {
            loginMessages.empty();
            messages.forEach(function(message) {
               loginMessages.append('<div>' + message + '</div>');
            });
            loginMessages.show();
         }
      };

      var user = {
         email : email.trim(),
         password : password
      };

      // perform simple validation
      if (user.email.length <= 0) {
         messages.push("Email address is required.");
      }
      if (user.password.length <= 0) {
         messages.push("Password is required.");
      }

      if (messages.length > 0) {
         displayMessages();
      }
      else {
         var loginFormInputElements = $("#login_popup_form").find("input");
         loginFormInputElements.prop('disabled', true);
         superagent
               .post("/login")
               .send(user)
               .end(function(err, res) {
                       console.log(JSON.stringify(res.body, null, 3));
                       if (res.status == 200) {
                          var redirectToAfterLogin = '{{{redirectToAfterLogin}}}';
                          if (redirectToAfterLogin && redirectToAfterLogin.length > 0) {
                             window.location.href = redirectToAfterLogin;
                          }
                          else {
                             window.location.reload();
                          }
                       }
                       else if (res.status == 401) {
                          messages.push("Login failed. Did you activate your account by");
                          messages.push("clicking the link in the verification email?");
                       }
                       else {
                          messages.push("Login failed.");
                       }
                       displayMessages();
                       loginFormInputElements.prop('disabled', false);
                    });
      }
   }

</script>
<div id="login_popup">
   <form id="login_popup_form" onsubmit="submitLogin($('#login_popup_email').val(), $('#login_popup_password').val(),'login_popup_messages'); return false;">

      <div id="login_popup_messages" class="form_messages"></div>
      <div><input type="text" id="login_popup_email" name="login_popup_email" placeholder="Email address"/></div>
      <div><input type="password" id="login_popup_password" name="login_popup_password" placeholder="Password"/></div>
      <div style="text-align: right">
         <input type="submit" value="Log In &raquo;">
      </div>
      <div class="login_popup_form_links" style="font-size: smaller;">
         <div style="float:right">Need an account? <a href="/signup">Sign up!</a></div>
         <div><a href="javascript:alert('Not yet implemented.')">Forgot your password?</a></div>
      </div>
   </form>
</div>
