<div id="login_popup">
   <form id="login_popup_form" onsubmit="return submitLoginForm('login_popup_form','login_popup_email','login_popup_password','login_popup_messages','{{{redirectToAfterLogin}}}');">

      <div id="login_popup_messages" class="form_messages form_error_messages"></div>
      <div><input type="text" id="login_popup_email" name="login_popup_email" placeholder="Email address"/></div>
      <div><input type="password" id="login_popup_password" name="login_popup_password" placeholder="Password"/></div>
      <div style="text-align: right">
         <input type="submit" class="submit_link" value="Log In &raquo;">
      </div>
      <div class="login_popup_form_links" style="font-size: smaller;">
         <div style="float:right">Need an account? <a href="/signup">Sign up!</a></div>
         <div><a href="/password-reset">Forgot your password?</a></div>
      </div>
   </form>
</div>
