<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8">
   <title>CATTfish: Computer says no...</title>
   <link href="/stylesheets/fonts/OpenSans/OpenSans.css" rel="stylesheet" type="text/css"/>
   <link href="/stylesheets/main.css" rel="stylesheet" type="text/css"/>
   <script type="text/javascript" src="/lib/jquery/jquery-1.11.1.min.js"></script>
</head>
<body>
{{> header}}
<div class="main_container" style="background: rgba(255, 255, 255, .8); padding:15px; margin-bottom:15px">
   {{{body}}}
</div>
{{> footer}}
</body>
</html>