<!DOCTYPE HTML>
<html>
<head>
   <title>{{{title}}}</title>
   <link href="/stylesheets/main.css" rel="stylesheet">
   <script src="/lib/jquery/jquery-1.11.1.min.js"></script>
</head>
<body>
{{{body}}}
</body>
</html>