<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8">
   <title>{{{title}}}</title>
   <link href="/stylesheets/fonts/OpenSans/OpenSans.css" rel="stylesheet" type="text/css"/>
   <link href="/stylesheets/main.css" rel="stylesheet" type="text/css"/>
   <script type="text/javascript" src="/lib/jquery/jquery-1.11.1.min.js"></script>
   <script type="text/javascript" src="/lib/superagent/superagent.js"></script>
   <script type="text/javascript" src="/lib/handlebars/handlebars.runtime-v2.0.0.js"></script>
   <script type="text/javascript" src="/javascripts/com/cattfish/Messages.js"></script>
   <script type="text/javascript" src="/javascripts/form_utils.js"></script>
   <script type="text/javascript" src="/javascripts/login.js"></script>
   <script type="text/javascript" src="/javascripts/handlebars_templates.js"></script>
   {{#isAuthenticated}}
      <script type="text/javascript" src="/javascripts/com/cattfish/AccessToken.js"></script>
      <script type="text/javascript" src="/javascripts/org/cmucreatelab/esdr/ESDR.js"></script>
   {{/isAuthenticated}}
</head>
<body>
{{> header}}
{{{body}}}
{{> footer}}
</body>
</html>