<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8">
   <title>{{{title}}}</title>
   <link href="/stylesheets/fonts/OpenSans/OpenSans.css" rel="stylesheet" type="text/css"/>
   <link href="/stylesheets/main.css" rel="stylesheet" type="text/css"/>
   <script src="/lib/jquery/jquery-1.11.1.min.js"></script>
   <script src="/lib/superagent/superagent.js"></script>
   <script src="/javascripts/com/cattfish/AccessToken.js"></script>
   <script src="/javascripts/org/cmucreatelab/esdr/ESDR.js"></script>
</head>
<body>
{{{body}}}
</body>
</html>