<div class="main_container">
   <div id="about_container">
      {{> about_menu}}
      <div class="table_right">
         <div class="page_title">About Us</div>
         <div class="images">
            <img src="/images/aboutUs_1.jpg"/>
            <img class="right" src="/images/aboutUs_2.jpg"/>
         </div>
         <p>
            CATTfish was created by the CREATE Lab at Carnegie Mellon University. In 2014, a new venture, MellonHead Labs, was formed to bring this innovative environmental sensing product to market. The sensor is used by both citizens and industry to track water quality changes over long periods of time and large geographic areas. Cloud based visualization of large data sets allows easy interpretation of results.
         </p>
      </div>
   </div>
</div>
