<div id="home_page" class="main_container">
<div id="about_container">
   <div class="table_right">
      <h2>Contact Us</h2>
      <h4>Send us an email:</h4>

      For more information about CATTfish and
      <br/>
      FlaminGO products, press inqueries, or
      <br/>
      partnership opportunities, <a href="mailto:info@cattfish.com">send us an email</a>.
   </div>
</div>
</div>
