<div id="home_page" class="main_container">
   <div class="hero_image">
      <div id="hero_text">
         <h1>CATTfish</h1>
         <span>
            The new way to track your<br/>
            water quality at home.
         </span>
      </div>
   </div>
   <div id="intro" class="centered">
      <div class="title">Home Water Sensor</div>
      <p>
         CATTfish provides a simple and easy
         way to track water quality at home.
         Try one now for peace of mind and
         long term tracking of your family's water.
      </p>
   </div>
   <div>
      <h1 class="section">How does it work?</h1>
   </div>
   <div>
      <div id="videos">
         <div class="video_thumbnail" style="float:right">
            <a href="#">
               <img src="images/placeholder.png"/><br/>
               Uploading your data
            </a>
         </div>
         <div class="video_thumbnail" style="float:left">
            <a href="#">
               <img src="images/placeholder.png"/><br/>
               Introduction to CATTfish
            </a>
         </div>
         <div class="video_thumbnail centered">
            <a href="#">
               <img src="images/placeholder.png"/><br/>
               Setting up your CATTfish
            </a>
         </div>
      </div>
   </div>
   <div>
      <h1 class="section">What is CATTfish?</h1>
   </div>
   <div>
      <div id="what_is" class="centered">
         <p>CATTfish was created by the CREATE Lab at Carnegie Mellon University. In 2014, a
            new venture, MellonHead Labs, was formed to bring this innovative environmental sensing
            product to market. The sensor is used by both citizens and industry to track water
            quality changes over long periods of time and large geographic areas. Cloud based
            visualization of large data sets allows easy interpretation of results.</p>
      </div>
   </div>
   <div>
      <h1 class="section">Buy now</h1>
   </div>
   <div>
      <div id="products">
         <div class="product_thumbnail" style="float:right">
            <a href="#">
               <img src="images/placeholder.png"/><br/>
               CATTfish Sensor
            </a>
         </div>
         <div class="product_thumbnail" style="float:left">
            <a href="#">
               <img src="images/placeholder.png"/><br/>
               CATTfish Kit
            </a>
         </div>
         <div class="product_thumbnail centered">
            <a href="#">
               <img src="images/placeholder.png"/><br/>
               CATTfish Display
            </a>
         </div>
      </div>
   </div>
</div>
