<div id="home_page" class="main_container">
<div id="about_container" class="partners">
   <div class="table_left">
      <p><a href="/about">ABOUT US</a></p>
      <p><a href="/about/water-quality-measures">WATER QUALITY MEASURES</a></p>
      <p><a class="selected" href="/about/partners">PARTNERS</a></p>
   </div>
   <div class="table_right">
      <h2>Partners</h2>
      <div class="textlogo">
         <img src="/images/Partners_createLab.jpg"/>
         <p>
         <a href="#">Carnegie Mellon CreateLab</a>
         </p>
         <p>
         Text placeholder for the logo indicated above. Links are also empty.
         </p>
      </div>
      <div class="textlogo">
         <img src="/images/Partners_WashingtonPA.jpg"/>
         <p>
         <a href="#">Washington, PA</a>
         </p>
         <p>
         Text placeholder for the logo indicated above. Links are also empty.
         </p>
      </div>
      <div class="textlogo">
         <img src="/images/Partners_AmericanWater.jpg"/>
         <p>
         <a href="#">American Water</a>
         </p>
         <p>
         Text placeholder for the logo indicated above. Links are also empty.
         </p>
      </div>
   </div>
</div>
</div>
