<div class="main_container">
   <div id="about_container" class="partners">
      {{> about_menu}}
      <div class="table_right" style="min-height:420px;">
         <div class="page_title">Partners</div>
         <div class="textlogo">
            <img src="/images/Partners_createLab.jpg"/>
            <p>
               <a href="http://www.cmucreatelab.org/" target="_blank">CMU CREATE Lab</a>
            </p>
            <p>
               Text placeholder for the logo indicated above.
            </p>
         </div>
         <div class="textlogo">
            <img src="/images/Partners_WashingtonPA.jpg"/>
            <p>
               Washington, PA
            </p>
            <p>
               Text placeholder for the logo indicated above.
            </p>
         </div>
      </div>
   </div>
</div>
