<script language="JavaScript" type="text/javascript">
   $(document).ready(function() {
      $("#signup_email").focus();
   });

   function submitRegistration() {
      var user = {
         email : $("#signup_email").val(),
         password : $("#signup_password").val()
      };
      console.log("About to register user: " + JSON.stringify(user, null, 3));
      superagent
            .post("/api/v1/users")
            .send(user)
            .end(function(err, res) {
                    if (res.status == 201) {
                       console.log("CREATE USER SUCCESS!: " + JSON.stringify(res.body, null, 3));
                    }
                    else if (res.status == 400) {
                       console.log("VALIDATION ERROR!: " + JSON.stringify(res.body, null, 3));
                    }
                    else if (res.status == 409) {
                       console.log("USER EXISTS!: " + JSON.stringify(res.body, null, 3));
                    }
                    else {
                       console.log("CREATE USER FAILURE!: " + JSON.stringify(res.body, null, 3));
                    }
                 });
   }
</script>
<div id="signup_page" class="main_container">
   <div class="content_container">
      <table border="0" cellpadding="0" cellspacing="0" width="100%">
         <tr valign="top">
            <td colspan="3">
               <div class="page_title">
                  Sign Up
               </div>
            </td>
         </tr>
         <tr valign="top">
            <td width="400">
               <form id="signup_form" onsubmit="submitRegistration(); return false;">
                  <div id="signup_messages" class="form_messages"></div>
                  <div><input type="text" id="signup_email" name="signup_email" placeholder="Email address"/></div>
                  <div><input type="password" id="signup_password" name="signup_password" placeholder="Password"/></div>
                  <div>
                     <div style="float:right"><input type="submit" value="Sign Up &raquo;"></div>
                  </div>
               </form>
            </td>
            <td width="20">&nbsp;</td>
            <td width="*" align="right">
               <div>Have an account? <a href="/login">Log in!</a></div>
            </td>
         </tr>
      </table>
   </div>
</div>