<script language="JavaScript" type="text/javascript">
   $(document).ready(function() {
      $("#signup_email").focus();
   });

   function submitSignUpForm() {
      var messages = new com.cattfish.Messages();
      var form = $("#signup_form");
      var errorMessagesElement = $("#signup_error_messages");
      var successMessagesElement = $("#signup_success_messages");
      errorMessagesElement.empty().hide();
      successMessagesElement.empty().hide();

      var emailElement = $("#signup_email");
      var passwordElement = $("#signup_password");
      var email = emailElement.val().trim();
      var password = passwordElement.val();

      var user = {
         email : email,
         password : password
      };

      // perform simple validation
      if (user.password.length <= 0) {
         messages.add("Password is required.");
         passwordElement.focus();
      }
      if (user.email.length <= 0) {
         messages.add("Email address is required.");
         emailElement.focus();
      }

      if (messages.isEmpty()) {
         setFormEnabled(form, false);
         superagent
               .post("/api/v1/users")
               .send(user)
               .end(function(err, res) {
                       setFormEnabled(form, true);
                       if (res.status == 201) {
                          form.hide();
                          messages.add('Welcome! We have sent you email with instructions to activate your account.');
                          messages.render(successMessagesElement);
                       }
                       else {
                          if (res.status == 409) {
                             messages.add("Sorry, a user with that email address already exists.");
                             emailElement.focus();
                          }
                          else if (res.status == 422) {
                             if (res.body.data && res.body.data.length > 0) {
                                var emailErrors = [];
                                var passwordErrors = [];
                                res.body.data.forEach(function(item) {
                                   var field = item.instanceContext;
                                   var constraintName = item.constraintName;
                                   if (field == '#/email') {
                                      if (constraintName == 'minLength') {
                                         emailErrors.push("The email address must be at least " + item.constraintValue + " characters.");
                                      }
                                      if (constraintName == 'format') {
                                         emailErrors.push("The email address must be a valid email address.");
                                      }
                                   }
                                   else if (field == '#/password') {
                                      if (constraintName == 'minLength') {
                                         passwordErrors.push("The password must be at least " + item.constraintValue + " characters.");
                                      }
                                   }
                                });
                                emailErrors.map(messages.add);
                                passwordErrors.map(messages.add);
                                if (passwordErrors.length > 0) {
                                   passwordElement.focus();
                                }
                                if (emailErrors.length > 0) {
                                   emailElement.focus();
                                }
                             }
                          }
                          else {
                             messages.add("Sorry, an unexpected error occurred while trying create your account.  Please contact us for help.");
                          }
                          messages.render(errorMessagesElement);
                       }
                    });
      }
      else {
         messages.render(errorMessagesElement);
      }

      return false;
   }
</script>
<div id="signup_page" class="main_container">
   <div class="content_container">
      <table border="0" cellpadding="0" cellspacing="0" width="100%">
         <tr valign="top">
            <td colspan="3">
               <div class="page_title">
                  Sign Up
               </div>
            </td>
         </tr>
         <tr valign="top">
            <td width="400">
               <div id="signup_error_messages" class="form_messages form_error_messages"></div>
               <div id="signup_success_messages" class="form_messages form_success_messages"></div>
               <form id="signup_form" onsubmit="return submitSignUpForm();">
                  <div><input type="text" id="signup_email" name="signup_email" placeholder="Email address"/></div>
                  <div><input type="password" id="signup_password" name="signup_password" placeholder="Password"/></div>
                  <div>
                     <div style="float:right"><input class="submit_link" type="submit" value="Sign Up &raquo;"></div>
                  </div>
               </form>
            </td>
            <td width="20">&nbsp;</td>
            <td width="*" align="right">
               <div>Have an account? <a href="/login">Log in!</a></div>
            </td>
         </tr>
      </table>
   </div>
</div>