<script language="JavaScript" type="text/javascript">
   $(document).ready(function() {

      var handleVerificationSuccess = function() {
         $("#verificationResult").text("Your account is verified.  You may now log in.")
      };

      var handleVerificationFailure = function() {
         $("#verificationResult").text("Sorry, we could not verify the account.")
      };

      var verificationToken = "{{verificationToken}}";
      if (verificationToken && verificationToken.length > 0) {
         superagent
               .get("/api/v1/users/" + verificationToken + "/verify")
               .end(function(err, res) {
                       if (res && res.body.data && res.body.data.isVerified) {
                          handleVerificationSuccess();
                       }
                       else {
                          handleVerificationFailure();
                       }
                    });
      }
      else {
         handleVerificationFailure();
      }
   });

</script>
<h1>Account Verification</h1>
<div id="verificationResult"></div>
