$BODY_WIDTH: 1020px;
$GREY_TEXT_COLOR: #5b5f6c;
$BLUE_NAVIGATION_BUTTON_COLOR: #2e68a3;

body {
   font-family: 'Open Sans', 'Helvetica', sans-serif;
   font-weight: 400;
   font-size: 16px;
   color: #1c1c1e;
   background: #455f6a url('../images/background.jpg') no-repeat scroll 0 0;
   background-size: 100%;
   min-width: $BODY_WIDTH;
   margin: 0;
   padding: 0;
}

@media (min-width: 1170px) {
   .container {
      width: $BODY_WIDTH;
   }
}

.container {
   width: $BODY_WIDTH;
   margin-left: auto;
   margin-right: auto;
}

// Prevent copy/paste (found at http://wiki.phonegap.com/iPhone:-Prevent-copy-paste and http://stackoverflow.com/questions/7059039/how-to-prevent-accidental-select-drag-highlight-on-webpage-when-drawing-off-html) */
.noselect {
   -moz-user-select: none;
   -webkit-user-select: none;
   -webkit-text-size-adjust: none;
   -ms-user-select: none;
   user-select: none;
}

.centered {
   margin-left: auto;
   margin-right: auto;
}

h1 {
   font-weight: 400;
   font-size: 30px;
   line-height: 1.1;
}

a {
   color: #428bca;
   text-decoration: none;
}

a:hover, a:focus {
   text-decoration: underline;
}

.form_messages {
   display: none;
   border: 1px solid #A75B4E;
   background: #FAD3C4;
   border-radius: 3px;
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   color: black;
   padding: 5px;
   font-size: 12px;
}

// =====================================================================================================================
// Header
// =====================================================================================================================

#header {
   background: #f4f6ee;
   border-bottom: 1px solid #dce2e2;
   height: 49px;
   width: 100%;
   margin-bottom: 30px;

   #logo_container {
      padding-left: 15px;

      .logo {
         margin-top: 6px;
      }
   }

   #navigation {
      position: relative;
      float: right;
      padding-right: 15px;
      text-decoration: none;

      a {
         color: $GREY_TEXT_COLOR;
      }

      a:hover {
         color: white;
      }

      .navigation_item {
         padding: 14px;
         color: $GREY_TEXT_COLOR;
         float: right;
         text-transform: uppercase;
         cursor: pointer;
      }

      .navigation_item_selected {
         color: white;
         background: $BLUE_NAVIGATION_BUTTON_COLOR;
      }

      #login_popup {
         position: absolute;
         right: 15px;
         top: 50px;
         color: white;
         background-color: $BLUE_NAVIGATION_BUTTON_COLOR;
         padding: 10px;
         display: none;

         a {
            color: white;
            text-decoration: underline;
         }
         #login_form {
            #login_messages {
               margin-bottom: 10px;
            }

            input {
               width: 300px;
               font-size: larger;
            }

            .login_form_links {
               position: relative;
               margin-top: 10px;
            }

            input[type="submit"] {
               background: none;
               border: none;
               color: white;
               text-decoration: none;
               cursor: pointer;
               width: auto;
               position: relative;
               font-size: medium;
               margin: 0;
               padding: 0;
            }
         }
      }
   }
}

// =====================================================================================================================
// Footer
// =====================================================================================================================

#footer {
   color: #e1ebda;
   font-size: 12px;
   text-align: center;

   #sections a {
      margin-left: 15px;
      margin-right: 15px;
   }

   p {
      margin: 30px 0px;
   }

   a {
      color: #e1ebda;
   }
}

// =====================================================================================================================
// Home Page
// =====================================================================================================================

.hero_image {
   background: #314b5c url("../images/heroImage.jpg") no-repeat scroll 0 0;
   background-size: $BODY_WIDTH;
   color: white;
   height: 440px;

   #hero_text {
      padding-top: 210px;
      padding-left: 70px;

      h1 {
         font-size: 25px;
         font-weight: 700;
         margin-top: 20px;
         margin-bottom: 10px;
      }

      span {
         font-size: 20px;
         color: #99c2dc;
         line-height: 1.4;
      }
   }
}

.main_body {
   background: rgba(255, 255, 255, .8);
   padding-bottom: 70px;
   margin-bottom: 40px;

   .section {
      border-top: 1px solid #b0bac0;
      padding-top: 45px;
      margin: 55px 15px 55px 15px;
      text-align: center;
      color: #314b5c;
   }

   #intro {
      width: 500px;
      padding: 89px 15px 55px 15px;
      font-weight: 300;
      text-align: center;
      margin-top: 0;
      margin-bottom: 55px;
      color: #314b5c;

      .title {
         font-size: 40px;
         font-weight: 300;
         margin-top: 6px;
         margin-bottom: 20px;
         line-height: 1.1;
      }

      p {
         font-size: 28px;
         margin: 0 0 10px 0;
         font-weight: 300;
         line-height: 1.45;
      }
   }

   #videos {
      .video_thumbnail {
         padding-left: 15px;
         padding-right: 15px;
         width: 309px;

         img {
            margin-bottom: 10px;
         }
      }
   }

   #what_is {
      text-align: center;
      width: 650px;
   }

   #products {
      .product_thumbnail {
         padding-left: 15px;
         padding-right: 15px;
         width: 309px;

         img {
            margin-bottom: 10px;
         }
      }
   }
}

