body {
  font-family: 'Open Sans', 'Helvetica', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #1c1c1e;
  background: #455f6a url('../images/background.jpg') no-repeat scroll 0 0;
  background-size: 100%;
  min-width: 1020px;
  margin: 0;
  padding: 0; }

@media (min-width: 1170px) {
  .container {
    width: 1020px; } }

.container {
  width: 1020px;
  margin-left: auto;
  margin-right: auto; }

.noselect {
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-text-size-adjust: none;
  -ms-user-select: none;
  user-select: none; }

.centered {
  margin-left: auto;
  margin-right: auto; }

h1 {
  font-weight: 400;
  font-size: 30px;
  line-height: 1.1; }

a {
  color: #428bca;
  text-decoration: none; }

a:hover, a:focus {
  text-decoration: underline; }

.form_messages {
  display: none;
  border: 1px solid #A75B4E;
  background: #FAD3C4;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  color: black;
  padding: 5px;
  font-size: 12px; }

#header {
  background: #f4f6ee;
  border-bottom: 1px solid #dce2e2;
  height: 49px;
  width: 100%;
  margin-bottom: 30px; }
  #header #logo_container {
    padding-left: 15px; }
    #header #logo_container .logo {
      margin-top: 6px; }
  #header #navigation {
    position: relative;
    float: right;
    padding-right: 15px;
    text-decoration: none; }
    #header #navigation a {
      color: #5b5f6c; }
    #header #navigation a:hover {
      color: white; }
    #header #navigation .navigation_item {
      padding: 14px;
      color: #5b5f6c;
      float: right;
      text-transform: uppercase;
      cursor: pointer; }
    #header #navigation .navigation_item_selected {
      color: white;
      background: #2e68a3; }
    #header #navigation #login_popup {
      position: absolute;
      right: 15px;
      top: 50px;
      color: white;
      background-color: #2e68a3;
      padding: 10px;
      display: none; }
      #header #navigation #login_popup a {
        color: white;
        text-decoration: underline; }
      #header #navigation #login_popup #login_form #login_messages {
        margin-bottom: 10px; }
      #header #navigation #login_popup #login_form input {
        width: 300px;
        font-size: larger; }
      #header #navigation #login_popup #login_form .login_form_links {
        position: relative;
        margin-top: 10px; }
      #header #navigation #login_popup #login_form input[type="submit"] {
        background: none;
        border: none;
        color: white;
        text-decoration: none;
        cursor: pointer;
        width: auto;
        position: relative;
        font-size: medium;
        margin: 0;
        padding: 0; }

#footer {
  color: #e1ebda;
  font-size: 12px;
  text-align: center; }
  #footer #sections a {
    margin-left: 15px;
    margin-right: 15px; }
  #footer p {
    margin: 30px 0px; }
  #footer a {
    color: #e1ebda; }

.hero_image {
  background: #314b5c url("../images/heroImage.jpg") no-repeat scroll 0 0;
  background-size: 1020px;
  color: white;
  height: 440px; }
  .hero_image #hero_text {
    padding-top: 210px;
    padding-left: 70px; }
    .hero_image #hero_text h1 {
      font-size: 25px;
      font-weight: 700;
      margin-top: 20px;
      margin-bottom: 10px; }
    .hero_image #hero_text span {
      font-size: 20px;
      color: #99c2dc;
      line-height: 1.4; }

.main_body {
  background: rgba(255, 255, 255, 0.8);
  padding-bottom: 70px;
  margin-bottom: 40px; }
  .main_body .section {
    border-top: 1px solid #b0bac0;
    padding-top: 45px;
    margin: 55px 15px 55px 15px;
    text-align: center;
    color: #314b5c; }
  .main_body #intro {
    width: 500px;
    padding: 89px 15px 55px 15px;
    font-weight: 300;
    text-align: center;
    margin-top: 0;
    margin-bottom: 55px;
    color: #314b5c; }
    .main_body #intro .title {
      font-size: 40px;
      font-weight: 300;
      margin-top: 6px;
      margin-bottom: 20px;
      line-height: 1.1; }
    .main_body #intro p {
      font-size: 28px;
      margin: 0 0 10px 0;
      font-weight: 300;
      line-height: 1.45; }
  .main_body #videos .video_thumbnail {
    padding-left: 15px;
    padding-right: 15px;
    width: 309px; }
    .main_body #videos .video_thumbnail img {
      margin-bottom: 10px; }
  .main_body #what_is {
    text-align: center;
    width: 650px; }
  .main_body #products .product_thumbnail {
    padding-left: 15px;
    padding-right: 15px;
    width: 309px; }
    .main_body #products .product_thumbnail img {
      margin-bottom: 10px; }
