<div class="main_container">
   <div class="page_with_submenu_container terms_pages">
      {{> terms_menu}}
      <div class="table_right" style="min-height:420px;">
         <div class="page_title">Web Site Privacy Policy</div>
         <p>
            COLLECTION: MellonHead Labs, Inc. and its subsidiaries and affiliates (collectively, "MellonHead") collect your information at MellonHead.com and MellonHead.com sub-domains (each, a "Site") in several ways. This information is used to provide users with MellonHead products and services, to allow us to understand how visitors navigate our Site, and to provide advertising that is relevant to your interests.
         </p>
         Purchase and Log-In Information: If you pre-order or purchase MellonHead products from our Site, we request that you provide your name, email address, billing and shipping address, credit card information and any other information necessary to complete the transaction. If you create a MellonHead account, your name, billing and shipping address and the last four digits of your credit card information can be stored. We do not collect or store your full credit card information. Our credit card processing service provider, currently PNC Bank, will collect and store full payment card information from you, even as a guest user, when an order is placed until when it ships. If you create a MellonHead account and elect to have payment card information saved, PNC Bank may store your payment information.
         </p>
         <p>
            Mailing List Information: You may choose to submit your email address via a submission form located on our Site. Your email address may be used to send you news about MellonHead-related services, products or promotions. We may use one or more service providers to administer these messages, but we do not share your email address with spammers or any other third parties without your permission.
         </p>
         <p>
            Device Usage information: If you are logged into your MellonHead account, we record the IP address you visit our website from, and if you have a MellonHead Learning Sensor&#8482; or MellonHead Sensor&#8482;, we record adjustments you make to the product through the website interface. We store this data along with your email address, information about your MellonHead device, data collected directly by the device, a history of your device settings, and any other information we have collected about your use of MellonHead products and services. See our <a href="/terms/privacy-statement">Privacy Statement</a> to learn more about the usage information collected through our products.
         </p>
         <p>
            Website Use Information: Like many websites, we and our third party partners analyze log file information and other data collected through cookies, web beacons, and other tracking technology, to collect information about your browsing behavior when you visit our website, including for example, your browser type, domains, page views, IP address, referring/exit pages, information about how you interact with our Site's webpages and with third party links, traffic and usage trends on the service, etc. We use session cookies to keep you logged in while you use features of our web application; these disappear after you close your browser. We also use persistent cookies, which stay in your browser and allow us to recognize you when you return to the Site. We use this to remember your information so you will not have to re-enter it, to better understand how you use our website, to diagnose and fix technology problems, and otherwise enhance our services. In some of our email messages, we use a "click-through URL" linked to content on the Site. We track this click-through data to help us measure the effectiveness of our customer communications. We also use third party analytics tools (including Google Analytics) to assist us with analyzing and improving our service. Most Internet browsers automatically accept cookies, but you may be able to change the settings to stop accepting cookies or to prompt you before accepting a cookie from the websites you visit. If you set your browser to reject cookies, parts of our Site may not work for you. Please note, depending on your type of device or browser, it may not be possible to delete or disable all tracking mechanisms on your device.
         </p>
         <p>
            Online Tracking and Your Choices:
         <ul>
            <li>As discussed above, because we track website usage information through the use of cookies for analytic and internal purposes only, your selection of the "Do Not Track" option provided by your browser may not have any effect on our collection of cookie information for these purposes. The only way to completely "opt out" of the collection of any information through cookies or other tracking technology is to actively manage the settings on your browser or mobile device to delete and disable cookies and other tracking/recording tools. (To learn more about cookies, clear gifs/web beacons and related technologies, you may wish to visit allaboutcookies.org).</li>
            <li>We permit third party advertising partners to use cookies and other technology to collect information about your browsing activities over time and across different websites when you use our Site. For example, we use advertising services provided by third party ad partners, such as Google Display Network and AdRoll, to market our services to you on other websites. Through a process called "retargeting," each service places a cookie on your browser when you visit our Site so that they can identify you and serve you ads on other sites around the web based on your browsing activity. To avoid tracking by these third party ad partners, you can change your browser settings to reject cookies or to notify you when cookies are set and you could select the Do Not Track option on your browser, though we have no control over and cannot confirm whether these third party ad parties honor the Do Not Track browser signal. Additionally, many advertising companies are members of the NAI or DAA and/or provide opt-outs on those industry pages at networkadvertising.org/choices or aboutads.info/choices.</li>
         </ul>
         <p>
            Third Party Sites and Features: Our Site may contain links to other websites operated by third parties and may include social media features such as Facebook and Twitter buttons (such as "Like," "Tweet" or "Pin"). These third party sites may collect information about you if you click on a link and the social media sites may automatically record information about your browsing behavior every time you visit a site that has a social media button. Your interactions with these features are governed by the privacy policy of the company providing the feature, not by our privacy policy. We do not control what information these third parties collect. Please review your privacy settings on your social media sites and think carefully before clicking on links which may take you to a third party website.
         </p>
         <p>
            Minors: Our Site does not knowingly collect or store any personal information about children under the age of 13.
         </p>
         <p>
            DATA SHARING: Under some circumstance we may share your contact information for any commercial or marketing purpose or to make your experience better in the future. Our service technicians and other MellonHead employees have supervised access to your information so they can answer your questions if you contact us for help and so they can monitor our servers for technical problems.
         </p>
         <p>
            We share your information with our service providers, vendors, or consultants that perform services on our behalf in connection with delivering or improving MellonHead products and services, which could include identifying and serving targeted advertisements, content or service fulfillment, billing, or providing analytics services. Our service providers will be given access to your information as is reasonably necessary to provide the service under reasonable confidentiality terms.
         </p>
         <p>
            Except as described herein, we will only provide personally identifiable information about our users to a third party if required to do so by law, or in the good-faith belief that such action is necessary to comply with state and federal laws or respond to a court order, subpoena, or search warrant.
         </p>
         <p>
            SECURITY: MellonHead takes security seriously and cares about the integrity of your personal information. We use commercially reasonable physical, administrative, and technological methods to transmit your data securely including HTTPS, SSL, and 128bit encryption. The data is stored using Amazon/RackSpace cloud service. However, MellonHead cannot guarantee that unauthorized third parties will never be able to defeat our security measures or use your personal information for improper purposes. In the event that any information under our control is compromised as a result of a breach of security, we will take reasonable steps to investigate the situation and where appropriate, notify those individuals whose information may have been compromised and take other steps, in accordance with any applicable laws and regulations.
         </p>
         <p>
            International Visitors: The MellonHead website is hosted in the United States and is intended for United States and Canadian visitors. If you are accessing the site from the European Union or other regions with laws governing data collection and use that may differ from U.S. law, then please note that you are transferring your personal data to the United States and by providing your personal data you consent to that transfer.
         </p>
         <p>
            Business Transitions: Upon the sale or transfer of the company and/or all or part of its assets, your personal information may be among the items sold or transferred. We will request a purchaser to treat our data under the privacy statement in place at the time of its collection.
         </p>
         <p>
            Changes to Privacy Policy: Please note that this privacy policy may change from time to time. We will not reduce your rights under this privacy policy without providing you with notice &mdash; on the Site or by contacting you &mdash; and the opportunity for you to stop using the Site.
         </p>
         <p>
            If you have any questions, please contact us at privacy@MellonHeadLabs.com.
         </p>
      </div>
   </div>
</div>
