<div class="main_container">
   <div class="page_with_submenu_container terms_pages">
      {{> terms_menu}}
      <div class="table_right" style="min-height:420px;">
         <div class="page_title">Sales Terms</div>
         <p>
         Welcome to the online store (the "Store") provided by MellonHead Labs, Inc. ("MellonHead"). Your purchase of MellonHead hardware products ("Products") from the Store constitutes your agreement to be bound by these Terms &amp; Conditions of Sale ("Terms &amp; Conditions") and the terms of the version of the Limited Warranty included in-box with a Product. We reserve the right to change these Terms &amp; Conditions at any time, so please review the Terms &amp; Conditions each time prior to making a purchase from the Store. Every time you order Products from MellonHead, the Terms &amp; Conditions in force at that time will apply between you and MellonHead. If you have any questions regarding these Terms &amp; Conditions, you can contact MellonHead.
         </p>
         <p>
         As a consumer, you have certain legal rights. The disclaimers, exclusions, and limitations of liability under these Terms &amp; Conditions will not apply to the extent prohibited by applicable law. Some jurisdictions do not allow the exclusion of implied warranties, including exclusions relating to products that are faulty or not as described, or the exclusion or limitation of incidental or consequential damages or other rights. For a full description of your legal rights you should refer to the laws applicable in your country or jurisdiction. Nothing in these Terms &amp; Conditions will affect those other legal rights.
         </p>
         <p>
         Although the Store is accessible worldwide, the Products offered on the Store are not designed and tested for use in all countries. If you choose to access the Store and/or use the Products outside the United States and Canada (each, a "Target Country"), you do so on your own initiative and you are solely responsible for complying with applicable local laws in your country. You understand and accept that the Store is not designed for use in a non-Target Country and some or all of the features of the Store may not work or be appropriate for use in such a country. To the extent permissible by law, MellonHead accepts no responsibility or liability for any damage or loss caused by your access or use of the Store in a non-Target Country.
         </p>
         <p>
         THIS IS A LEGAL AGREEMENT. BY PLACING AN ORDER FOR MELLONHEAD PRODUCTS, YOU ARE ACCEPTING AND AGREEING TO THESE TERMS &amp; CONDITIONS ON BEHALF OF YOURSELF OR THE ENTITY YOU REPRESENT IN CONNECTION WITH THE PURCHASE. YOU REPRESENT AND WARRANT THAT YOU HAVE THE RIGHT, AUTHORITY, AND CAPACITY TO ACCEPT AND AGREE TO THESE TERMS &amp; CONDITIONS ON BEHALF OF YOURSELF OR THE ENTITY YOU REPRESENT. YOU REPRESENT THAT YOU ARE OF SUFFICIENT LEGAL AGE IN YOUR JURISDICTION OR RESIDENCE TO PURCHASE AND USE PRODUCTS AND TO ENTER INTO THIS AGREEMENT. IF YOU DO NOT AGREE WITH ANY OF THE PROVISIONS OF THESE TERMS &amp; CONDITIONS, YOU SHOULD NOT PURCHASE THE PRODUCTS.
         </p>
         <p>
         1. Compatibility.
         </p>
         <p>
         You acknowledge that you have verified the compatibility of the Products you are purchasing with other equipment in your home (e.g., ensuring that your homes systems is compatible with the MellonHead Sensor.. You are solely responsible for determining the compatibility of the Products with other equipment in your home, and you accept that lack of compatibility is not a valid claim under the warranty provided with your Products and does not otherwise constitute a basis for receiving a refund after the 30 day refund policy described below.
         </p>
         <p>
         2. Reservations and Pre-Orders.
         </p>
         <p>
         Products available for reservation and pre-order are not offered for sale by MellonHead. Your placement of a reservation and pre-order does not create a contract for sale.
         </p>
         <p>
         By placing a reservation and pre-order for a Product that is not yet available for sale, you make an offer to MellonHead to purchase the Product subject to these Terms &amp; Conditions. MellonHead will obtain an authorization from your bank or credit card company for $0. MellonHead does not capture payment until a Product actually ships, so an authorization from your payment card company may stay open for several days or weeks before a charge is actually made.
         </p>
         <p>
         You may cancel your offer to purchase Products at any time prior to shipment and you will not be charged. You will receive an email several days prior to the shipment of reserved Products in which you will have an option to cancel your offer and you will not be charged.
         </p>
         <p>
         Later, when the Product is offered for sale, MellonHead may accept your offer to purchase Products subject to these Terms &amp; Conditions. At that time, MellonHead will capture payment on the payment card you provided and ship your Product. MellonHead may obtain an additional authorization from your payment card company to confirm necessary funds are available to purchase the Products requested.
         </p>
         <p>
         MellonHead reserves the right to cancel or refuse any order for any reason at any time prior to shipment, including after an order has been submitted, whether or not the order has been confirmed. We may attempt to contact you if all or a portion of your order is cancelled, or if additional information is needed to complete and accept your order.
         </p>
         <p>
         3. Availability and Pricing.
         </p>
         <p>
         All Products offered on the Store are subject to availability. Prices for the Products are subject to change without notice at any time.
         </p>
         <p>
         4. Sales Tax.
         </p>
         <p>
         Depending on the order, MellonHead calculates and charges sales tax in accordance with applicable laws.
         </p>
         <p>
         5. Resale and Title Transfer.
         </p>
         <p>
         Purchases made on the Store are intended for end users only, and are not authorized for resale. Title for Products purchased from the Store passes to the purchaser at the time of delivery by MellonHead to the freight carrier, but MellonHead and/or the freight carrier will be responsible for any Product loss or damage that occurs when the Product is in transit to you.
         </p>
         <p>
         6. Shipping and Delivery.
         </p>
         <p>
         Prices for the Products do not include shipping costs. Our delivery charges are as quoted on the Store website from time to time. In the United States, we offer three methods of shipment: Next Day, Second Day and Ground. In Canada, we offer two methods of shipment: UPS Express and UPS Ground. We offer free Ground shipping for orders greater than $299. The estimated arrival or delivery date is not a guaranteed delivery date for your order. Refused deliveries will be returned to our warehouse. It may take up to 45 days for the returned items to be identified as refused and processed for a refund.
         </p>
         <p>
         The Products available on the Store have been designed, marketed and sold for use by residents of the United States and Canada.  All safety warnings, information, instructions, packaging, in-box materials, mobile apps, and support services are provided only in English/Spanish (U.S.) and English/French (Canada). The Products available on the Store are not intended for use outside of the United States and Canada, respectively. You are responsible for complying with all applicable laws and regulations of the country for which the Product is destined. We are not liable or responsible if you break any such law.
         </p>
         <p>
         7. Installation.
         </p>
         <p>
         There may be laws in the jurisdiction that you install a particular Product applicable to where and how to install that Product. You should check that you are in compliance with all relevant laws in your jurisdiction. MellonHead is not responsible for any injury or damage caused by self-installation. MellonHead maintains a list of recommended installers of the Products on its website. These installers are not MellonHead employees and are not affiliated with MellonHead. MellonHead is not responsible for any conduct of or liability associated with these installers. You should do your own diligence of the installers to select one that best fits your needs.
         </p>
         <p>
         8. Returns.
         </p>
         <p>
         If, for any reason, you're not completely satisfied with the Product you purchased from the Store, you can return the Product within 30 days of purchase for a full refund. No refunds will be issued 30 days after the date of purchase. To initiate a refund, and to arrange for the return of the Product, you should <a href="/contact">contact</a> MellonHead. You will receive a refund of the price and taxes you paid for the Product less the value of any promotional merchandise or discount you received. We will process the refund due to you as soon as possible and, in any case, within 30 days from the date of receipt by MellonHead of the returned Product.
         </p>
         <p>
         9. Disputes and Arbitration
         </p>
         <p>
         (a) Contact MellonHead First. If a dispute arises between you and MellonHead, our goal is to learn about and address your concerns. You agree that you will notify MellonHead about any dispute you have with MellonHead regarding these Terms &amp; Conditions by contacting MellonHead.
         </p>
         <p>
         (b) Binding Arbitration. You and MellonHead agree, subject to clause 9(g) (Protection of Confidentiality and Intellectual Property Rights), to submit any claim, dispute, action, cause of action, issue, or request for relief arising out of or relating to these Terms &amp; Conditions or your use of the Products to binding arbitration rather than by filing any lawsuit in any forum other than set forth in this section. Further you agree arbitration is final and binding and subject to only very limited review by a court. You also waive your right to any form of appeal, review or recourse to any court or other judicial authority, insofar as such waiver may be validly made. This provision is intended to be interpreted broadly to encompass all disputes or claims arising out of or relating to your use of the Products. Subject to clause 9(g) (Protection of Confidentiality and Intellectual Property Rights), any dispute or claim made by you against us or us against you arising out of or relating to these Terms &amp; Conditions or your use of the Products (whether based in contract, tort, statute, fraud, misrepresentation or any other legal theory) will be resolved by binding arbitration except that you may take claims to small claims court if they qualify for hearing by such a court.
         </p>
         <p>
         (c) Arbitration Procedures. You must first present any claim or dispute to MellonHead by contacting us to allow us an opportunity to resolve the dispute. You may request arbitration if your claim or dispute cannot be resolved within 60 days after presenting the claim or dispute to MellonHead. MellonHead may request arbitration against you at any time after it has notified you of a claim or dispute in accordance with clause 13 (Notifications). The arbitration of any dispute or claim shall be conducted in accordance with the then current and applicable rules of the American Arbitration Association as modified by this agreement. The place of any arbitration will be Allegheny County, PA, USA, and will be conducted in the English language. Claims will be heard by a single arbitrator. The arbitrator may not award relief in excess of or contrary to what this agreement provides, order consolidation or arbitration on a class wide or representative basis, award punitive or consequential damages or any other damages aside from the prevailing party's actual damages, or order injunctive or declaratory relief, except that the arbitrator may award on an individual basis damages required by statute and may order injunctive or declaratory relief pursuant to an applicable consumer protection statute. Any arbitration shall be confidential, and neither you, nor MellonHead nor the arbitrator may disclose the existence, content or results of any arbitration, except as may be required by law or for purposes of enforcement or appeal of the arbitration award. Judgment on any arbitration award may be entered in any court having proper jurisdiction. If any portion of this arbitration clause is determined by a court to be inapplicable or invalid, then the remainder shall still be given full force and effect.
         </p>
         <p>
         (d) No Class Actions. There shall be no right or authority for any claims subject to this arbitration clause to be arbitrated on a class action or consolidated basis or on bases involving claims brought in a purported representative capacity on behalf of the general public (including, but not limited to, as a private attorney general).
         </p>
         <p>
         (e) Fees and Expenses. All administrative fees and expenses of arbitration will be divided equally between you and MellonHead. Each party will bear the expense of its own counsel, experts, witnesses and preparation and presentation of evidence at the arbitration hearing.
         </p>
         <p>
         (f) YOU MUST CONTACT MELLONHEAD WITHIN ONE (1) YEAR OF THE DATE OF THE OCCURRENCE OF THE EVENT OR FACTS GIVING RISE TO A DISPUTE, OR YOU WAIVE THE RIGHT TO PURSUE ANY CLAIM BASED UPON SUCH EVENT, FACTS, OR DISPUTE.
         </p>
         <p>
         (g) Protection of Confidentiality and Intellectual Property Rights. Notwithstanding the foregoing, MellonHead may seek injunctive or other equitable relief to protect its confidential information and intellectual property rights or to prevent loss of data or damage to its servers in any court of competent jurisdiction.
         </p>
         <p>
         This arbitration clause shall survive termination of these Terms &amp; Conditions.
         </p>
         <p>
         10. Warranties and Disclaimers.
         </p>
         <p>
         As far as permitted by applicable law, the Store, and all content available on the Store, is provided on an "as-is" basis without warranties or conditions of any kind, either express or implied, including, without limitation, warranties of title or implied warranties of merchantability or fitness for a particular purpose. All products and services purchased through the Store are provided on an "as-is" basis unless otherwise noted in the Limited Warranty included with a Product. You may choose whether to make a claim under these Terms &amp; Conditions or the Limited Warranty or both, but you may not recover twice in respect of the same loss.
         </p>
         <p>
         You use a Product at your own discretion and risk. You will be solely responsible for (and MellonHead disclaims) any and all loss, liability or damages resulting from your use of a Product, including damage or water systems or any plumbling fixture, home, Product, other peripherals connected to the Product, computer, mobile device, and all other items and pets in your home.
         </p>
         <p>
         Unless explicitly promising a "guarantee," MellonHead does not guarantee or promise any specific level of energy savings or other monetary benefit from the use of a Product or any feature of it. Actual energy savings and monetary benefits vary with factors beyond MellonHead's control or knowledge.
         </p>
         <p>
         MellonHead gives no warranty regarding the life of the batteries used in a Product. Actual battery life may vary depending on a number of factors, including the configuration and usage of a Product.
         </p>
         <p>
         11. Limitation of Liability.
         </p>
         <p>
         Nothing in these Terms &amp; Conditions and in particular within this "Limitation of Liability" clause shall attempt to exclude liability that cannot be excluded under applicable law.
         </p>
         <p>
         TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, IN ADDITION TO THE ABOVE WARRANTY DISCLAIMERS, IN NO EVENT WILL (A) MELLONHEAD BE LIABLE FOR ANY CONSEQUENTIAL, EXEMPLARY, SPECIAL, OR INCIDENTAL DAMAGES, INCLUDING ANY DAMAGES FOR LOST DATA OR LOST PROFITS, ARISING FROM OR RELATING TO THE PRODUCTS, EVEN IF MELLONHEAD KNEW OR SHOULD HAVE KNOWN OF THE POSSIBILITY OF SUCH DAMAGES, AND (B) MELLONHEAD'S TOTAL CUMULATIVE LIABILITY ARISING FROM OR RELATED TO THE PRODUCTS, WHETHER IN CONTRACT OR TORT OR OTHERWISE, EXCEED THE FEES ACTUALLY PAID BY YOU TO MELLONHEAD OR MELLONHEAD'S AUTHORIZED RESELLER FOR THE PRODUCT AT ISSUE IN THE PRIOR 12 MONTHS (IF ANY). THIS LIMITATION IS CUMULATIVE AND WILL NOT BE INCREASED BY THE EXISTENCE OF MORE THAN ONE INCIDENT OR CLAIM. MELLONHEAD DISCLAIMS ALL LIABILITY OF ANY KIND OF MELLONHEAD'S LICENSORS AND SUPPLIERS.
         </p>
         <p>
         12. Data Protection.
         </p>
         <p>
         By placing an order for Products, you agree and understand that MellonHead may store, process and use data collected from your order form or phone/fax/email order for the purposes of processing the order. MellonHead may also share such data globally within the MellonHead group of companies. All MellonHead companies shall protect your information in accordance with the <a href="/terms/privacy-policy">Web Site Privacy Policy</a>. MellonHead works with other companies that help MellonHead provide Products to you, such as freight carriers and credit card processing companies, and MellonHead may have to share certain information with these companies for this purpose.
         </p>
         <p>
         13. Electronic Communications.
         </p>
         <p>
         You are communicating with MellonHead electronically when you use the Store or send email to MellonHead. You agree that all agreements, notices, disclosures and other communications that we provide to you electronically satisfy any legal requirement that such communications be in writing. When you order in the Store, we collect and store your email address. From that point forward, your email address is used to send you information about MellonHead's products and services unless you opt-out of such emails using the opt-out link in the emails.
         </p>
         <p>
         14. Notifications.
         </p>
         <p>
         MellonHead may provide notifications to you as required by law or for marketing or other purposes via (at its option) email to the primary email associated with your MellonHead account, hard copy, or posting of such notice on the MellonHead website. MellonHead is not responsible for any automatic filtering you or your network provider may apply to email notifications. MellonHead recommends that you add @MellonHeadLabs.com URLs to your email address book to help ensure you receive email notifications from MellonHead.
         </p>
         <p>
         15. Force Majeure.
         </p>
         <p>
         We will not be liable or responsible for any failure to perform, or delay in performance of, any of our obligations under a contract that is caused by an act or event beyond our reasonable control, including without limitation acts of God, strikes, lock-outs or other industrial action by third parties, civil commotion, riot, terrorist attack, war, fire, explosion, storm, flood, earthquake, epidemic or other natural disaster, failure of public or private telecommunications networks or impossibility of the use of railways, shipping, aircraft, motor transport or other means of public or private transport.
         </p>
         <p>
         16. Severability.
         </p>
         <p>
         If any part of one or more of these Terms &amp; Conditions becomes illegal, invalid, unenforceable, or prohibited in any respect under any applicable law or regulation, such provision or part thereof will to that extend be deemed to not form part of the contract between us. The legality, validity or enforceability of the remainder of these Terms &amp; Conditions will remain in full force and effect.
         </p>
         <p>
         17. Waiver.
         </p>
         <p>
         Failure or delay by us to enforce any these Terms &amp; Conditions will not constitute a waiver of our rights against you and does not affect our right to require future performance thereof.
         </p>
         <p>
         18. Governing Law and Jurisdiction.
         </p>
         <p>
         These Terms &amp; Conditions are governed by the laws of the State of California without giving effect to any conflict of laws principles that may provide the application of the law of another jurisdiction. You agree to submit to the personal jurisdiction of the state and federal courts in or for Allegheny County, PA for the purpose of litigating all such claims or disputes, unless such claim or dispute is required to be arbitrated as set forth in an above section.
         </p>
      </div>
   </div>
</div>
